<div class="banner">
  <div class="content-container mx-auto">
    <div class="step-title-menu-new">
      <div class="step-creation-menu">
        <h1>1</h1>
      </div>
        <h1>Dites-nous en plus</h1>
    </div>
    <div class="mt-5">
    <%= simple_form_for @menu do |f| %>
      <div>
        <div class="d-flex flex-column flex-md-row profile-set justify-content-between">
          <%= f.input :number_of_people,
            as: :numeric,
            placeholder: "Nombre de personnes à table",
            label: false %>
          <%= f.input :number_of_meals,
            as: :numeric,
            placeholder: "Nombre de repas",
            label: false %>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mt-5">
        <br><br>
        <%= f.input :diet,
          collection: Recipe::DIET,
          wrapper_tag: 'div',
          label_method: lambda { |diet| render 'menus/diet_card', diet: diet },
          as: :radio_buttons,
          include_blank: false,
          include_hidden: false,
          label: true %>
        </div>
        <br><br><br>
        <%= f.submit "Générer mon menu", class: "yellow-button" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
