<!-- home top div with bg image -->
<div class="banner d-flex flex-column align-items-center mb-3">
  <h1 class="home-title">What's for dinner?</h1>
  <%= link_to "Je crée mon menu", new_menu_path, class:"red-button" %>
  <div class= "arrow-down">
    <a href="#next"><%= cl_image_tag("double_down_array_white_ltq34i.png", height: 35, width: 50, crop: :fill) %></a>
  </div>
</div>

  <!-- home middle div -->
<br id="next">
<div class="home-middle">
  <h2>Nous vous simplifions le quotidien<br>dans votre cuisine.</h2>
  <br><br><br><br>
  <div class="justify-content-center d-flex flex-column justify-content-around flex-md-row home-cards">
    <div class="card-home">
      <%= cl_image_tag("menu-icon-final.png", class:"image-home") %>
      <br><br>
      <p>Obtenez en quelques clics votre menu <b>totalement personnalisable</b> avec des
      recettes variées et adaptées à vos besoins et vos envies.</p>
    </div>
    <div class="card-home">
      <%= cl_image_tag("grocery-items-icon-final.png", class:"image-home") %>
      <br><br>
      <p>Une <b>liste de courses</b> est automatiquement générée en fonction de votre
      menu. Vous pouvez <b>la modifier et la compléter</b> à votre guise.</p>
    </div>
    <div class="card-home">
      <%= cl_image_tag("recipe-icon-final.png", class:"image-home") %>
      <br><br>
      <p>Chaque jour, accédez aux recettes de votre menu et suivez le guide.
      Vous, votre famille, vos amis, vos convives se régaleront de vos petits
      plats mitonnés !</p>
    </div>
  </div>
  <%= link_to "Je crée mon menu", new_menu_path, class:"red-button special py-4" %>
</div>

<!-- home bottom div -->
<div class="home-bottom">
  <h2 id="next_2"><a href="#next_2" class="link"> Pour vous mettre l'eau à la bouche...</a></h2>
  <br><br>
    <div class="container-recipe-random" id="recipe-random-generator">
    <% random_recipes = Recipe.all.sample(5) %>
    <% random_recipes.each do |random_recipe|  %>
      <div class="card-menu-edit">
        <div class="card-recipe">
          <div class="img-small img">
            <%= cl_image_tag random_recipe.photo.key, height: 100, width: 150, crop: :fill %>
          </div>
          <div class="card-recipe-title">
            <p><%= random_recipe.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
