<!DOCTYPE html>
<html>
  <head>
    <title>WhatsForDinner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

<!-- Navbar -->
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
       <%= link_to "What's for dinner?", root_path, class: "logo" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          <li class="nav-item active">
            <% if current_user %>
              <% if current_user.menus.any? %>
                <%= link_to "MON MENU", menu_path(current_user.menus.last), class: "navbar-button mr-4" %>
                <%= link_to "MA LISTE", menu_grocery_items_path(current_user.menus.last), class: "navbar-button mr-4" %>
              <% else %>
                <%= link_to "CREER UN MENU", new_menu_path, class: "navbar-button mr-4" %>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
              <% if current_user %>
                <button class="profile-avatar shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.first_name.first %>
                </button>
              <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if current_user.menus.any? %>
                <%= link_to "Mon menu", menu_path(current_user.menus.last), class: "dropdown-item" %><hr>
                <%= link_to "Ma liste de course", menu_grocery_items_path(current_user.menus.last), class: "dropdown-item" %><hr>
              <% else %>
                <%= link_to "Créer un menu", new_menu_path, class: "dropdown-item" %><hr>
              <% end %>
              <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete,  class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </div>

<!-- Content -->
    <%= yield %>

<!-- footer -->
    <div class="footer">
      <div class="">
        <h1>What's for dinner?</h1>
      </div>
      <div class="footer-links">
        <ul class="mb-0 mt-0">
          <li>A propos</li>
          <li>FAQ</li>
          <li>Presse</li>
        </ul>
      </div>
      <div class="footer-links">
        <ul class="mb-0 mt-0">
          <li>Mentions légales</li>
          <li>Cookies</li>
          <li>CGU</li>
        </ul></h3>
      </div>
      <div>
        <ul class="dl-img">
          <li><%= image_tag "apple.png"  %></li>
          <li><%= image_tag "google.png"  %></li>
        </ul>
      </div>
    </div>


  </body>
</html>
