<div class="main-container">
  <div class="background-recipe">
    <div class="recipe-title">
      <h1><%= @menu_recipe.recipe.name %></h1>
    </div>
  </div>

  <div class="menu-recipe-container">
    <%= cl_image_tag @menu_recipe.recipe.photo.key, class: "recipe-image" %>

    <div class="recipe-ingredients">
      <h3>Ingredients</h3>
      <div class="ingredients-list">
        <% @menu_recipe.recipe.preparations.each do |preparation| %>
          <div class="ingredients-detail">
            <p><%= Ingredient.find(preparation.ingredient_id).name %></p>
            <p><%= preparation.quantity %> <%= Ingredient.find(preparation.ingredient_id).unit %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="recipe-content">
      <h3>Recette</h3>
      <p><%= simple_format(@menu_recipe.recipe.content) %></p>
      <%= form_for @menu_recipe do |f| %>
        <%= f.check_box :done, class: "check-done", onchange: "this.form.submit()"%>
        <%= f.label "Fait", {class: "checkbox inline label-done"} %>
      <% end %>
    </div>


    <div id="review-form">
      <% if @user_review.nil? %>
      <%= render "reviews/new", menu_recipe: @menu_recipe, review: @review %>
      <% end %>
    </div>
  </div>

  <div class="reviews-display">
    <% @menu_recipe.recipe.reviews.order(id: :desc).each do | review | %>
      <div class="review">
        <div class="review-features">
          <p><%= review.user.username %> - <%= (review.created_at).to_s.match(/\d{4}-\d{2}-\d{2}/) %></p>
          <p>
            <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </p>
        </div>
        <div class="review-content">
          <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
